html, body {
    height: auto;
    margin: 0;
    padding: 1em;
    background: url(./images/black-thread-light_Background.png) repeat #316C67;
}

article {
    height: 100%;
}

div.hobbies {
    margin: 0 20%;
}

h1 {
    font-size: 28pt;
    color: whitesmoke;
}

div.hobby {
    color: whitesmoke;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color:  rgba(23, 42, 56, 0.712);
    border: 3px solid #06182D;
    border-radius: 10px;
    margin-bottom: 15px;
    min-width: 350px;
}

a {
    color: #FBDF6D;
}

div.description {
    font-size: 17pt;
    min-width: 250px;
    order: 1;
    margin-right: 2em;
}

div.image {
    order: 2;
    margin: 45px 0;
}

img {
    width: 350px;
}

@media only screen and (max-width: 1250px) {
    div.hobby {
        flex-direction: column;
    }

    div.hobbies {
        margin: 0 15%;
    }
}

@media only screen and (max-width: 650px) {

    div.hobbies {
        margin: 0 5%;
    }
}